// CORE VALUES TEMPLATE

.container-fluid
    .container
        .row
            .col
                h3 Column 1
                p Lorem ipsum dolor sit amet...
            .col
                h3 Column 2
                p Lorem ipsum dolor sit amet...
            .col
                h3 Column 3
                p Lorem ipsum dolor sit amet...
