// FOOTER TEMPLATE

.container-fluid
    .container
        .row
            .col
                h2.text-center Column 1
            .col
                h2.text-center Column 2
            .col
                h2.text-center Column 3
