.container-fluid.hero
    .container
        .row
            .col
                h1.display-3 international
                h1.display-2 fusion
        .row
            .col
                +button("red","#location","large") LOCATION 
                    i(class='fa fa-map-marker' aria-hidden='true')
            .col
                +button("blue","#menu","large") MENU 
                    i(class='fa fa-map-marker' aria-hidden='true')             
