// MENUS TEMPLATE
// The user should have the option to cycle through each menu (Breakfast, Lunch, Dinner)
// Include Javascript that will show the current menu being served at that time of day, as well as the newest featured dishes.

.container-fluid
    .container
        .row
            .col
                h3.text-center Menu Scroller