// Navbar Template

nav.navbar.fixed-top.navbar-light.bg-light
    button(class="navbar-toggler" type="button"  data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation")
        i(class="fa fa-bars" aria-hidden="true")
    a(class="navbar-brand" href="#") 
        img(src="http://placehold.it/100x60" class="img-fluid" alt="Rebel Chef Logo")

    div(class="collapse navbar-collapse" id="main-navbar")
        ul.navbar-nav.mr-auto.mt-2.mt-lg-0
            li.nav-item HOME
            li.nav-item MENU
            li.nav-item LOCATION
            // Contact will fire a modal with a contact form in it.
            li.nav-item CONTACT 
    